{% extends "coordenador/cad_plantao.html" %} {% load static %} {% block nav%} {{block.super}} {% endblock %} {% block menu %} {{block.super}} {% endblock%} {% block cad%}

<div class="card-body px-lg-5">
    <h2 class="text-center">Cadastrar Folgas</h2>
    <hr>
    {% for message in messages%}
    <div class="alert alert-danger"><strong>Erro!
        </strong>{{message}}</div>
    {% endfor%} {% if form.errors %} {% for field in form %} {% for error in field.errors %} <label>
        {{field.label}}: </label>
    <p> {{ error|escape }} </p> {% endfor %} {% endfor %} {% for error in form.non_field_errors %} {{ error|escape }} {% endfor %} {% endif %}
    <form class="text-center border border-light p-5 mr-auto" action="{% url 'cad_folga'%}" method="POST">
        {% csrf_token %}
        <div class="w-75 mx-auto">
            <div class="form-row mb-2">
                <!-- Name -->
                <div class="col-4">
                    <p>Escolha o Plantão</p>
                </div>
                <div class="col-8">
                    <select class="browser-default custom-select" name="plantao">
                        {% for i in plantao %}
                        {% if i.turno == "NDA"%}
                        <option value="{{i.turno}}" selected></option>
                        {%else%}
                        <option value="{{i.turno}}">{{i.turno}}</option>
                        {%endif%}
                        {%endfor%}
                    </select>
                </div>
            </div>


            <div class="form-row mb-2">
                <div class="col-4">
                    <p>Defina a Data do Primeiro Plantão</p>
                </div>
                <div class="col-8">
                    <div class="input-group date" data-provide="datepicker">
                        <input type="text" class="form-control" name="data" id="datepicker_folga">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>
            </div>
            <button class=" btn btn-red my-4" type="submit" data-toggle="modal" data-target="#basicExampleModal" data-object={{i.turno}}>Cadastrar
                Folga</button>
            <hr>
        </div>
        <!-- Modal -->

    </form>

</div>
{% endblock%}