{% extends "base.html" %} {% load static %} {% block main %}

<div class="wrapper">

    <div class="sidebar vermelho">
        <div class="sidebar-header">
            <img src="{% static 'imgs/cisru-logo.png' %}" id="logo">
        </div>
        <ul class="side-links">
            <li class="nav-welcome">
                {% if user.is_authenticated %}
                <p class="logged-in-p">
                    Olá <span>{{ user.username|title}}</span>, seja bem-vindo(a)!
                </p>
                {% endif %}
                {% if user.equipe == "RO"%}
                <span><span>Cooordenador</span>: Rádio Operadores</span> {%else%}
                <span><span>Cooordenador:</span> Auxiliar de Regulação Médica</span> {%endif%}
            </li>
            <hr class="my-2">
            <li class="nav-item">
                <a class="nav-link " href="{% url 'homecood'%}">Início</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'listar_func'%}">Funcionários Cadastrados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cad_plantao'%}">Cadastrar Plantões</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cad_func'%}">Cadastrar Funcionários</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cad_folga'%}">Cadastrar Folgas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cad_plantao_extra'%}">Cadastrar Plantão Extra</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'plantao_dia'%}">Folgas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'search_per_day'%}">Busca por Dia</a>
            </li>
            <li class="nav-item mt-3">
                <a id="sair-btn" href="{% url 'logout_manager' %}" class="nav-link btn btn-light rounded-pill">Sair</a>
            </li>
        </ul>




    </div> <!-- Fim Sidebar -->


    <!-- Botão Sidebar -->

    <nav class="navbar navbar-dark justify-content-end" id="side-nav">
        <button type="button" id="sidebarCollapse" class="btn btn-vermelho btn-sm side-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>


    <!-- Conteúdo da página -->
    <div id="content">

        {% block cad%}
        <div class="text-center">
            <a href="{% url 'pdf' %}" class="btn btn-red rounded-pill">Exportar escala como Pdf</a>
        </div>
        <div class="container-fluid">
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-sm text-center" id="tabela1">
                    <caption>Escala Tarms</caption>
                    <thead class="thead-dark">
                        <tr>

                            <th scope="row" rowspan="3" class="text-center pb-5">Nomes</th>
                            <th scope="col" colspan="8" class="text-center"><span id="week" name="week"></span>:
                                <span id="data"></span>
                                <br>
                                <br>
                                <br>
                                <span id="hora"></span>
                            </th>
                            <th scope="col" colspan="8" class="text-center">
                                <i class="fas fa-calendar-alt fa-bolt text-light fa-2x pr-3 pb-4"></i><span
                                    class="h3 ">{{mes}}/
                                    {{ano}}
                                </span></th>
                            <th scope="col" colspan="8" class="text-center pb-5">
                                <form method="POST" action=".">
                                    {% csrf_token%}
                                    <select class=" browser-default custom-select " id="selected_month"
                                        name="selected_month" style="width:150px;">
                                        <option value=1>Janeiro</option>
                                        <option value=2>Fevereiro</option>
                                        <option value=3>Março</option>
                                        <option value=4>Abril</option>
                                        <option value=5>Maio</option>
                                        <option value=6>Junho</option>
                                        <option value=7>Julho</option>
                                        <option value=8>Agosto</option>
                                        <option value=9>Setembro</option>
                                        <option value=10>Outubro</option>
                                        <option value=11>Novembro</option>
                                        <option value=12>Dezembro</option>
                                    </select>

                            <th scope="col" colspan="7" class="">
                                <select class=" browser-default custom-select" name="selected_year"
                                    style="width:150px;">
                                    <option value=2020 id="selected_year">2020</option>
                                    <option value=2021>2021</option>
                                    <option value=2022>2022</option>
                                    <option value=2023>2023</option>
                                    <option value=2024>2024</option>
                                    <option value=2025>2025</option>
                                    <option value=2026>2026</option>
                                    <option value=2027>2027</option>
                                    <option value=2028>2028</option>
                                    <option value=2029>2029</option>
                                    <option value=2030>2030</option>
                                </select>
                                <br>
                                <button type="submit" class="btn btn-sm btn-primary">Selecionar a Data</button>
                                </form>
                            </th>
                        </tr>
                        <tr class="table-light table-bordered">
                            {%for days in range%}
                            <td>{{ days }}</td>
                            {%endfor%}
                        </tr>
                        <tr class="table-light table-bordered">
                            {%for days in semana%}
                            <td>{{days}} </td>
                            {%endfor%}
                        </tr>
                    </thead>
                    <tbody>
                        {% for fun in escala%}
                        <tr>
                            <td class="bg-dark text-light">{{fun.nome}}</td>
                            {% for i in fun.escala %} {% if i == "A"%}
                            <td class="bg-success">{{i}}</td>
                            {% elif i == "B"%}
                            <td class="bg-info">{{i}}</td>
                            {% elif i == "C"%}
                            <td class="bg-warning">{{i}}</td>
                            {% elif i == "D"%}
                            <td class="bg-danger">{{i}}</td>
                            {%elif i == "E"%}
                            <td class="bg-dark text-light">{{i}}</td>
                            {%endif%}{% endfor %}
                        </tr>
                        {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>

        <div class="container mb-5 pb-5">
            <div class="row">
                <div class="col">
                    <table class="table text-center table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" colspan="2">Folguistas </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for func in plantonistas%} {% if func.extra == 'Folguista'%}
                            <tr>
                                <td class="bg-dark text-light">E</td>
                                <td>{{func.nome}} {{func.sobrenome}}</td>
                                {%endif%} {%endfor%}
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <table class="table text-center table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" colspan="2">Folgas aos Domingos </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, value in domingos.items %}
                            <tr>
                                <td class="bg-dark text-light">{{key}}</td>
                                <td>Domingo dia : {{value}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        {% endblock%}
    </div>
</div>




</div> <!-- Fim Conteúdo Página -->


</div> <!-- Fim Wrapper -->

{% endblock%}