{% extends "base.html" %} {% load static %} {% block main %}

<div class="col-sm- m-auto text-center" style="padding-top:40px">
    {% if msg is not None%}
    <div class="alert alert-danger" role="alert">
        {{msg}}
    </div>
    {% endif %}
    <div class="container cont-log">
        <form class="text-center border border-light p-5 w-50 form-log" method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <p class="h4 mb-4"><i class="far fa-user mr-2"></i>Login</p>

            <!-- Email -->
            <div class="mb-4">
                <input type="email" name="email" id="defaultLoginFormEmail" class="form-control w-75 m-auto mb-4" placeholder="E-mail">
            </div>
            <!-- Password -->
            <div class="mb-4">
                <input type="password" name="password" id="defaultLoginFormPassword" class="form-control w-75 m-auto" placeholder="Senha">
            </div>
            <div class="mb-4">
                <div>
                    <button class="btn btn-info my-4" type="submit">Entrar</button>
                    <br>
                </div>
                <div class="mb-4">
                    <div>
                        <span>Ainda não possui cadastro?</span><br>
                        <a href="{% url 'cad_coord'%}" class="pt-3">Cadastre-se </a>
                    </div>
                </div>

                <!-- Sign in button -->

            </div>
        </form>
    </div>
</div>

{% endblock%}